Django==5.1.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.6.0
django-redis==5.4.0
sqlparse==0.5.1
psycopg2==2.9.10
psycopg2-binary==2.9.9
geopy==2.4.1
geographiclib==2.0
opencage==3.0.3
openrouteservice==2.3.3
